@import url(https://fonts.googleapis.com/css?family=Raleway);
$purple1:#800080;
$purple2: #5f2b5fa3;
$mob-nav:black;
//$colors: (
//        'purple1': #63930,
//        'purple2': #5f2b5fa3
//);
nav, video {
  position: absolute
}

.open, .pop-up, .pop-up.open {
  transition: .3s linear
}

#menu, .actions li, nav h1 a {
  cursor: pointer
}

#introduction h2, #introduction p, #jumbotron, #message a, .feature-image, .pop-up.open, header {
  text-align: center
}

#message a, .actions li a, .support-link, aside ul li a, nav h1 a {
  color: #fff;
  text-decoration: none
}

nav {
  height: 3em;
  width: 100vw;
  display: inline-block;
  z-index: 10;
  outline: #fff solid 1px
}

body, html {
  overflow-x: hidden
}

#menu {
  height: 90%;
  outline: 0;
  width: 15vw;
  margin-top: 2px;
  border-radius: 10px;
  margin-left: 3px;
  vertical-align: top
}

#jumbotron h2 {
  font-size: 3.5em;
  color: #fff;
  font-weight: 400;
  text-shadow: -2px 0 #000
}

#jumbotron {
  color: #fff;
  background-size: cover;
  background-position: left top, center center;
  background-repeat: no-repeat;
  display: block;
  top: 0;
  position: relative;
  padding-top: 5em;
  padding-bottom: 10em;
  min-height: 39vh
}

nav h1.name {
  font-size: .8em;
  color: #fff;
  font-weight: 400;
  display: inline-block
}

nav h1 a {
  font-size: .9em;
  font-weight: 400
}

.hidden {
  display: none
}

.right-top-menu {
  float: right;
  width: 31%;
  height: 100%;
  background-color:blue;
  background: linear-gradient(to right,$purple1,$purple2);
}

.right-top-menu button {
  height: 100%;
  background-color: transparent;
  min-width: 50%
}

.actions {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0
}

.actions li {
  padding: .6em .8em;
  border: 2px solid;
  border-radius: 10px;
  min-width: 12em;
  margin: 0 10px
}

body {
  color: rgba(0, 0, 0, .87);
  font-family: Raleway, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0
}

#message {
  background: #fff;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px
}

#message h2 {
  color: #ffa100;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 8px
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, .6);
  margin: 0 0 16px
}

#introduction h2, .features-row section p {
  font-weight: lighter
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px
}

#message a {
  display: block;
  background: #039be5;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 4px
}

#introduction, .box-features {
  background-color: #fff;
  border-radius: 8px
}

#message, #message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

#introduction {
  width: 80vw;
  margin: -100px auto auto;
  z-index: 1000;
  position: relative;
  padding: 5vw
}

#introduction p {
  border-top: .1em solid #d3d3d3;
  padding-top: 2em;
  width: 90%;
  margin-left: 5%;
  color: #696969;
  font-family: Raleway, Roboto, Arial;
  line-height: 1.5em
}

.feature-image {
  overflow: hidden
}

.box-features {
  margin: 5%;
  display: inline-block
}

.features-row {
  display: inline-grid
}

.features-row section {
  padding: 5%
}

.pop-up header, .support-link {
  font-weight: 400;
  cursor: pointer
}

.icon.major {
  color: #fff;
  cursor: default;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  width: 5.5em;
  background: #666;
  border-radius: 100%;
  margin: 0 0 2em
}

.icon.major.fa-bolt.accent2 {
  color: #fff;
  background: #e89980;
  background: radial-gradient(#ffaa0e, #d7691e)
}

.icon.major.accent3 {
  color: #fff;
  transform: rotate(270deg);
  background: radial-gradient(#7fcdb8, #32cd32)
}

.icon.major.accent4 {
  color: #fff;
  background: #90b0ba
}

.icon.major.fa-bolt.accent2::before {
  content: "\225F";
  font-size: 4em
}

.icon.major.accent3::before {
  content: "\261E";
  font-size: 4em
}

.icon.major.accent4::before, .icon.major.accent5::before {
  height: 100px;
  width: 100px;
  content: "";
  padding: 34px
}

.icon.major.accent4::before {
  background: url('~/images/icons/geo.png') center no-repeat;
  background-size: 70%
}

.icon.major.accent5::before {
  background: url('~images/icons/design.png') center no-repeat;
  background-size: 70%
}

.pop-up, .pop-up.open {
  background-color: #808080bd;
  position: relative
}

.pop-up.invis {
  width: 30%;
  opacity: 0
}

.invis {
  width: 100%;
  opacity: 0
}

.pop-up {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  transform: scale(.3, .3)
}

.pop-up.open {
  transform: scale(1, 1);
  margin-top: -9em;
  margin-bottom: 8em;
  color: #fff
}

body {
  background: #f5f5f5
}

.actions li.active, .actions li:focus, .actions li:hover {
  min-width: 7em;
  background-color: #639;
  color: #fff
}

.actions li.active a, .actions li:hover a {
  color: #fff
}

ul.collapsed {
  padding-left: 0;
  list-style: none
}

.support-link {
  display: block;
  background-color: #55acee;
  padding: .5em;
  outline: #000 solid 1px;
  letter-spacing: 1px;
  margin-top: 1em
}

.support-link:active, .support-link:hover {
  background-color: #1d7ec7
}

.pop-up header {
  font-size: 1.45em;
  -weight: bold;
  background-color: #696969;
  border-radius: 10px;
  padding: .3em;
  text-shadow: -1px 1px #000;
  font-family: Arial
}

.pop-up header:after {
  content: "\2297";
  font-size: 1.2em;
  background-color: #696969;
  float: right;
  display: inline-block;
  position: relative;
  padding: 0
}

.is-opaque {
  opacity: 0 !important
}

.is-not-opaque {
  opacity: 1 !important
}

.pop-up h4 {
  max-width: 800px;
  font-weight: 100;
  margin: 0;
  padding: 1em
}

@media (max-width: 600px) {
  .mobile-top-nav, .mobile-top-nav.is-open {
    display: block;
    position: absolute;
    top: 3em
  }
  .actions li {
    min-width: 7em
  }
  .mobile-top-nav {
    width: 100vw;
    min-height: 5em;
    cursor: pointer;
    background-color: $mob-nav;
    outline: #fff solid 1px;
    transition: .5s linear;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: top
  }
  #as-seen a img, #introduction .feature-image img {
    width: 100%
  }
  .mobile-top-nav ul {
    list-style: none;
    color: #fff
  }
  .mobile-top-nav ul li {
    background-color: #000;
    padding: 4px 4px 4px 9px;
    border-radius: 3px;
    font-weight: 300;
    background: linear-gradient(to right, #000, #639);
    margin: 4px 0
  }
  .mobile-top-nav ul li:hover {
    background-color: #000;
    font-weight: 500;
    background: linear-gradient(to right, #639, #000)
  }
  .mobile-top-nav div.info {
    color: #fff;
    background-color: #000;
    text-align: right;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 3px
  }
  .mobile-top-nav.is-open {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1)
  }
  #jumbotron h2 {
    font-size: 2.8em;
    text-shadow: -2px 0 #000
  }
  #jumbotron {
    background-color: #666;
    background-image: linear-gradient(to right, #0a0a0aad, #0b0a0a6b, #5b0fcc54), url(/images/metro-1.jpg)
  }
  nav h1.name {
    display: none
  }
  .box-features {
    margin: 5%;
    display: block
  }
  #introduction h2 {
    font-size: 1.2em;
    line-height: 1.25em
  }
  #introduction p {
    font-size: .9em;
    font-weight: 300;
    font-weight: 400
  }
  #introduction .feature-image {
    overflow: hidden;
    text-align: center;
    max-height: 276px
  }
  #as-seen {
    padding: 4% 1%
  }
  #as-seen a {
    max-width: 30%;
    cursor: pointer
  }
  #as-seen a.joe img {
    width: 83%
  }
  .features-row section {
    padding: 5%;
    text-align: center
  }
  .joe {
    text-align: center
  }
  #network .actions li a {
    text-decoration: none;
    color: #fff;
    font-size: .78em;
    line-height: .8em;
    vertical-align: inherit;
    height: 100%
  }
  .right-top-menu button {
    display: none
  }
}

@media (min-width: 600px) {
  .box-features {
    display: inline-flex;
    text-align: center;
    padding: 2%
  }
  .mobile-top-nav {
    top: 3em;
    position: absolute;
    right: 2px;
    border: .1em solid #fff;
    border-radius: 10px;
    margin-top: 6px;
    margin-right: 11px;
    color: #fff;
    font-weight: 200;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    transform: scale(1, 0)
  }
  .pop-up.open {
    max-width: 800px
  }
  nav h1.name {
    display: inline-block;
    padding-left: 2em;
    padding-top: .4em;
    width: 20%
  }
  .actions li.active, .actions li:focus, .actions li:hover {
    min-width: 12em
  }
  .features-row {
    display: inline-grid;
    min-width: 50%
  }
  .features-row:nth-child(1) section:nth-child(1) .actions.faq.active-but {
    margin-top: 27em
  }
  ul.collapsed.open {
    position: absolute;
    background-color: #fff;
    max-height: 23em;
    overflow: scroll;
    max-width: 38%;
    z-index: 100;
    border: 1px solid #d3d3d3
  }
  #menu {
    display: none
  }
  .features-row:nth-child(1) section:nth-child(1) {
    border-bottom: 2px solid #d3d3d345;
    border-right: 2px solid #d3d3d345
  }
  .features-row:nth-child(1) section:nth-child(2) {
    border-top: 2px solid #d3d3d345;
    border-right: 2px solid #d3d3d345
  }
  .features-row:nth-child(2) section:nth-child(1) {
    border-bottom: 2px solid #d3d3d345;
    border-left: 2px solid #d3d3d345
  }
  .features-row:nth-child(2) section:nth-child(2) {
    border-top: 2px solid #d3d3d345;
    border-left: 2px solid #d3d3d345
  }
}

#email-input {
  min-height: 2.3em
}

aside ul li a {
  padding: 2px 9px;
  width: 100%;
  height: 100%
}

aside ul li {
  display: flex
}

#quickstart-sign-in, #user-delete {
  height: 3em;
  font-size: .8em;
  text-transform: uppercase;
  background-color: #000;
  color: #ffb500;
  padding: 0 19px;
  cursor: pointer;
  border: 2px solid #fff8dc;
  outline: 0
}

button#quickstart-sign-in:disabled {
  background-color: #927642;
  color: #fff8f8
}

#jumbotron {
  background-color: transparent;
  background-image: linear-gradient(13deg, #f9f0f014, #0b0a0a61, #5b0fcc7a, transparent)
}

.privacy-link:hover, .video-link-mobile:hover {
  background-color: #663399
}

video {
  left: 0;
  width: 100%;
  opacity: 1
}

.video-mobile-wrapper {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 525px
}

.video-link-mobile {
  padding: 10px;
  margin: 24px 10px 10px;
  text-decoration: none;
  border: 1px solid #fff;
  display: block;
  width: auto;
  max-width: 214px;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  color: #fff
}

.privacy-link {
  float: right;
  margin: -50px 20px 10px 10px;
  padding: 9px;
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
  font-family: Raleway, monospace;
  letter-spacing: 1px
}

@media screen and (max-width: 600px) {
  video {
    position: absolute;
    left: 0;
    background-image: url(/images/metro-1.jpg);
    background-size: contain;
    width: 175%;
    width: 167%;
    min-height: 422px
  }
  .video-link-mobile {
    max-width: 176px;
    border-radius: 5px;
    font-size: 8px
  }
  .privacy-link {
    float: right;
    margin: -43px 5px 10px 10px;
    padding: 9px;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 11px
  }
  .right-top-menu {
    display: none
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

h2 {
  letter-spacing: 2px;
  line-height: 1.4em
}

#subscribe p {
  padding: 7px 1em
}

#menu {
  background-color: #5a2293ad
}

#network, #subscribe, .fa, .feature-row.map, .toast, footer .bottom {
  text-align: center
}

#network .feature-image, .range-zoom {
  cursor: pointer
}

.box-features h3 {
  font-weight: 100;
  color: #585353
}

.features-row section p {
  font-weight: lighter;
  font-size: .9em;
  color: #696969
}

#as-seen {
  width: 100%;
  background-color: #dcd7dc;
  margin: 4% 0 0;
  display: inline-flex;
  padding: 4% 1%;
  justify-content: space-evenly
}

.question {
  background-color: #e89980;
  color: #fff;
  font-weight: 300;
  padding: .3em;
  border-radius: 5px
}

.answer {
  font-size: .89em
}

#network {
  margin: 30px 5% 0;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 1em
}

#network h3 {
  font-weight: lighter;
  color: #2f4f4f;
  border-top: 1px solid grey;
  margin: 18px 8%;
  padding-top: 3%
}

#network .actions li.full, #network .actions li.full a {
  color: #550fc4;
  text-decoration: none
}

#network p {
  padding: 0 10%;
  font-size: .95em;
  font-weight: 100
}

#network .feature-image.one {
  position: absolute;
  left: calc(49% - 302.5px);
  opacity: 0;
  transition: .3s linear
}

#network .actions li.full {
  border: 2px solid #550fc4;
  background-color: #fff
}

#network .actions li {
  padding: .6em .8em;
  border: 2px solid #fff;
  text-align: center;
  background-color: #550fc4;
  color: #fff
}

#network .actions li a {
  text-decoration: none;
  color: #fff
}

.feature-row.map {
  display: inline-block;
  width: 100%
}

.feature-row.map h3 {
  font-weight: lighter;
  padding-bottom: 1em;
  border-bottom: .1em solid #8080808f;
  margin: 22px 5% 1.5em
}

#subscribe, #subscribe h2 {
  font-weight: 400
}

.feature-row.map p {
  font-size: .87em;
  color: #696969;
  letter-spacing: .1em
}

.feature-row .feature-image {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  transition: .4s
}

#subscribe, .feature-row .feature-image img, .feature-row.full .feature-image {
  width: 100%
}

#maps {
  margin: 2em 5%;
  background-color: #fff;
  border-radius: 10px
}

#maps .actions li {
  padding: .6em .8em;
  border: 2px solid
}

#maps .actions li:hover {
  border: 2px solid;
  color: #fff
}

#maps .actions li:hover a {
  color: #fff
}

#maps .actions li a {
  color: #8078788f
}

#subscribe {
  background: linear-gradient(to right, #550fc4, #000);
  color: #fff;
  padding: 5em 0
}

.joe img, footer {
  background-color: #000
}

#subscribe .email {
  min-height: 2em;
  border-radius: 5px;
  overflow: hidden;
  display: inline-flex
}

input#email {
  min-height: 2.4rem;
  min-width: 18em
}

.email .container .submit {
  height: 100%
}

.rte img {
  max-width: 243px
}

.joe img {
  width: 100px
}

footer {
  min-height: 10em;
  width: 100vw;
  display: block;
  background: linear-gradient(130deg, #1e1d1d, #000);
  color: #fff
}

footer header {
  min-height: 1.5em
}

footer .middle {
  min-height: 4em
}

footer .middle p {
  margin: 0;
  font-size: .65em;
  padding-left: 1em
}

footer .middle .metro-logo {
  float: right;
  max-width: 180px;
  padding-right: 1em
}

footer .middle .des-logo {
  max-width: 34px;
  float: right;
  position: absolute;
  margin-left: 9px
}

footer .bottom {
  min-height: 2.65em;
  background-color: #000;
  padding-top: .3em;
  margin: 11px 0 0;
  font-size: .8em
}

.fa {
  transition: .15s linear;
  border-radius: 57%;
  width: 1.1em;
  padding: 15px;
  font-size: 1.4em !important;
  text-decoration: none;
  margin: 5px 2px
}

.fa:hover {
  filter: drop-shadow(2px 12px 16px #fff)
}

.fa-facebook {
  background: #3B5998;
  color: #fff
}

.fa-twitter {
  background: #55ACEE;
  color: #fff
}

.fa-google {
  background: #dd4b39;
  color: #fff
}

.fa-linkedin {
  background: #007bb5;
  color: #fff
}

.button.grey-out {
  color: #696969
}

.actions li.grey-out {
  border: 2px solid #696969
}

.network-inner {
  overflow: hidden
}

.network-inner-container {
  overflow: scroll;
  transform-origin: top
}

#network h4 {
  font-weight: 300;
  margin: 0
}

@media (max-width: 780px) {
  #network .feature-image.one {
    width: 90vw;
    left: 5vw
  }
  #network .feature-image.one img, #network .feature-image.two img {
    width: 100%
  }
  #network .actions li .button, #network .actions li .button.white-out {
    font-size: .9em
  }
}

.feature-row.full .feature-image img {
  width: 100%;
  max-width: 35em
}

@media (max-width: 780px) {
  .feature-row.full .feature-image img {
    width: 100%;
    max-width: 15em
  }
}

@media (min-width: 600px) {
  .mobile-top-nav {
    display: block;
    width: 100vw;
    min-height: 5em;
    cursor: pointer;
    background-color: $mob-nav;
    outline: #fff solid 1px;
    position: absolute;
    top: 3em;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    transform: scale(1, 0);
    transition: .4s;
    transform-origin: top right
  }
  .mobile-top-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 3px
  }
  .mobile-top-nav .info {
    background-color: #6969698a;
    padding: 5px;
    color: #fff
  }
  .mobile-top-nav.is-open {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
    float: right;
    width: 12em;
    right: 1em;
    margin-top: .7em;
    outline: 0;
    border: .1em solid #fff;
    border-radius: 10px
  }
  aside#mobile-nav.is-open:before {
    content: "|";
    position: absolute;
    color: #fff;
    margin-top: -1em;
    margin-left: 7em
  }
}

aside ul li a:hover {
  background-color: #663399
}

@media (max-width: 1100px) {
  #introduction h2 {
    max-width: 850px;
    margin: auto
  }
  #introduction p {
    max-width: 830px;
    margin: auto
  }
}

.toast {
  position: fixed;
  top: 30vh;
  width: 60%;
  margin: auto;
  background-color: grey;
  z-index: 100;
  min-height: 100px;
  left: calc(50% - 30%);
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  background: linear-gradient(black, #696969);
  border: .1em solid #fff
}

.toast p {
  font-size: .85em
}

.toast h4 {
  font-weight: 400;
  font-size: 1.2em
}

.toast img {
  max-width: 10em;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: green
}

.toast.close {
  transition: .3s;
  transform: scale(0)
}

.toast.open {
  transition: .3s;
  transform: scale(1)
}

.right-top-menu button {
  color: #fff;
  float: right;
  display: inline-block;
  cursor: pointer
}

.right-top-menu button:hover {
  background-color: #663399
}

.right-top-menu button:after {
  padding-left: 1em;
  content: "\276F";
  transform: rotate(90deg);
  display: inline-block;
  margin-top: -1.1em;
  vertical-align: middle
}
